body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.header {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: 50px;
}

h3 {
  font-size: 24px;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}
